<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startida</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/pictures/favicon.ico" type="image/x-icon">

</head>

<body>
    <header>
        <a href="/"><img id="logo" src="/pictures/standardLogo.svg" alt="Logga"></a> 
        <a id="logo-text" href="/">
            <h3>Moment-1</h3>
        </a>
        <ul id="bigScreenList">
            <li><a class="menyLänkar" href="/">Startida</a></li>
            <li><a class="menyLänkar" href="/addCourse">Kurser</a></li>
            <li><a class="menyLänkar" href="/about">Om Sidan</a></li>
        </ul>
        <button class="menu-btn open" id="open-menu">
            <span class="menu-icon">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="menu-text">Meny</span>
        </button>
        <nav id="nav-menu">
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">Stäng</span>
            </button>
            <ul>
                <li><a class="menyLänkar" href="/">Startida</a></li>
                <li><a class="menyLänkar" href="/addCourse">Kurser</a></li>
                <li><a class="menyLänkar" href="/about">Om Sidan</a></li>
            </ul>
        </nav>
    </header>

    <main>

   

        <h2>Befintliga kurser</h2>
        <% if(locals.rows && locals.rows.length > 0) { %>
            <% locals.rows.forEach((row) => { %>
                <article class="courseArticle">
                    <p>
                        <%= row.coursecode %>, <%= row.coursename %>, <%= row.progression %>
                    </p>
                    <p>
                        <%= row.syllabus %> 
                    </p>
                    <p>
                        Postat den: <%= row.posted %>
                    </p>
                    
                    <a href="/delete/<%= row.id %>"><button class="deleteBtn">Radera kurs</button></a>
                    
                </article>
            <% }); %>
        <% } else { %>
            <p>Inga befintliga kurser hittades.</p>
        <% } %>

    </main>

    <footer>
        <p>@Melvin Bubini, 2024</p>
    </footer>
    <script type="module" src="/js/main.js"></script>
</body>

</html>